*{
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.container2 > p {
    margin-right: 5px;
}

